<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media File Module</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="card">
        <img src="/images/banner.png" alt="banner">
        <h1>Media File Module</h1>
        <p>Every file on this page was served by <code>static.js</code>, without a single if/else in app.js.</p>
        <ul>
            <li><a href="/profile.html">profile.html</a> - another page from the views folder</li>
            <li><a href="/stylesheets/style.css">stylesheets/style.css</a> - the stylesheet itself</li>
            <li><a href="/images/avatar.png">images/avatar.png</a> - an image on its own</li>
            <li><a href="/this-file-does-not-exist.html">a missing file</a> - shows the 404 message</li>
        </ul>
    </div>
</body>
</html>
