.box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px dotted rgb(96 139 168);
}

.circle {
  position: absolute;
  border-radius: 50%;
  transfor: translate(-50%, -50%);
  pointer-events: none;
}